@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100% /* white */;
		--foreground: 20 15% 5% /* stone-950 */;
		--card: 0 0% 100% /* white */;
		--card-foreground: 20 15% 5% /* stone-950 */;
		--popover: 0 0% 100% /* white */;
		--popover-foreground: 20 15% 5% /* stone-950 */;
		--primary: 201 99% 40% /* sky-600 */;
		--primary-foreground: 205 100% 98% /* sky-50 */;
		--secondary: 141 85% 93% /* green-100 */;
		--secondary-foreground: 144 62% 21% /* green-900 */;
		--muted: 60 5% 96% /* stone-100 */;
		--muted-foreground: 25 6% 45% /* stone-500 */;
		--accent: 168 86% 90% /* teal-100 */;
		--accent-foreground: 176 61% 20% /* teal-900 */;
		--destructive: 0 85% 61% /* red-500 */;
		--destructive-foreground: 60 10% 98% /* stone-50 */;
		--border: 20 6% 90% /* stone-200 */;
		--input: 20 6% 90% /* stone-200 */;
		--ring: 201 99% 40% /* sky-600 */;
		--radius: 0.5rem;

		/* --card: 60, 9.09%, 97.84%; // stone-50 */

		--sidebar-background: 0 0% 98%;

		--sidebar-foreground: 240 5.3% 26.1%;

		--sidebar-primary: 240 5.9% 10%;

		--sidebar-primary-foreground: 0 0% 98%;

		--sidebar-accent: 240 4.8% 95.9%;

		--sidebar-accent-foreground: 240 5.9% 10%;

		--sidebar-border: 220 13% 91%;

		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 20 15% 5% /* stone-950 */;
		--foreground: 60 10% 98% /* stone-50 */;
		--card: 20 15% 5% /* stone-950 */;
		--card-foreground: 60 10% 98% /* stone-50 */;
		--popover: 20 15% 5% /* stone-950 */;
		--popover-foreground: 60 10% 98% /* stone-50 */;
		--primary: 201 99% 40% /* sky-600 */;
		--primary-foreground: 205 100% 98% /* sky-50 */;
		--secondary: 143 65% 25% /* green-800 */;
		--secondary-foreground: 139 77% 97% /* green-50 */;
		--muted: 13 7% 16% /* stone-800 */;
		--muted-foreground: 24 6% 64% /* stone-400 */;
		--accent: 177 70% 22% /* teal-800 */;
		--accent-foreground: 167 77% 97% /* teal-50 */;
		--destructive: 0 63% 31% /* red-900 */;
		--destructive-foreground: 60 10% 98% /* stone-50 */;
		--border: 13 7% 16% /* stone-800 */;
		--input: 13 7% 16% /* stone-800 */;
		--ring: 201 99% 40% /* sky-600 */;

		/* --card: 24, 9.8%, 10%; // stone-800 */

		--sidebar-background: 240 5.9% 10%;

		--sidebar-foreground: 240 4.8% 95.9%;

		--sidebar-primary: 224.3 76.3% 48%;

		--sidebar-primary-foreground: 0 0% 100%;

		--sidebar-accent: 240 3.7% 15.9%;

		--sidebar-accent-foreground: 240 4.8% 95.9%;

		--sidebar-border: 240 3.7% 15.9%;

		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
